<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.2/font/bootstrap-icons.css" />
<style type="text/css">
  .bg-brands-instagram {--bg-opacity:1;background-color:#c13584;background-color:rgba(193,53,132,var(--bg-opacity))}
</style>
{% if page.mastodon %}
<script src='/assets/js/mastodon.js'></script>
<script>
  document.addEventListener("DOMContentLoaded", () => {
    new Mastodon({ instance: '{{ page.mastodon.instance }}', userId: '{{ page.mastodon.userId }}', limit: '{{ page.mastodon.limit }}'});
  });
</script>
{% endif %}
{% if page.fancybox or page.mastodon %}
<script src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.min.js"></script>
<link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/fancyapps/fancybox@3.5.7/dist/jquery.fancybox.min.css" />
<script src="https://cdn.jsdelivr.net/gh/fancyapps/fancybox@3.5.7/dist/jquery.fancybox.min.js"></script>
{% endif %}
